body{
  font-family: \5fae\8f6f\96c5\9ed1,Hei;
}
.circle{
  background: url(../img/source/appointment/circle.png) no-repeat;
  width: 546px;
  height: 546px;
  margin:0 auto;
  p{
    font-size: 18px;
  }
  span{
    background: url(../img/source/appointment/pc_loading.gif) no-repeat;
    display: block;
    width: 134px;
    height: 134px;
    margin:182px auto 0;
  }
}
.yuyuesb{
  p{
    font-size: 18px;
    margin:45px auto;
  }
  span{
    background: url(../img/source/appointment/x.jpg) no-repeat;
    display: block;
    width: 118px;
    height: 118px;
    margin:0 auto;
  }
}
.yuyuesb2{
  span{
    background: url(../img/source/appointment/gou.jpg) no-repeat;
  }
}
.ui-dialog{
  width: auto;
  height: auto;
}
.w-detail{
  width: 1000px;
  margin-left:15px;
  .title{
    width: 700px;
    float: left;
    margin-right: 18px;
    .house-title{
      padding: 20px 0;
      font-size: 24px;
      color: #0e050a;
    }
  }
  .house-pic {
    width: 700px;
    float: left;
    border:1px solid #ccc;

    .house-pic-small{
      width: 700px;
      height: 100px;
      position:relative;
      overflow: hidden;
      .page-ul{
        position:absolute;
        left:-1000px;
        width: 700px;
      }
      img{
        max-width: 100%;
        max-height: 100%;
      }
      ul li:hover{
        cursor:pointer;
      }
      ul .showed{
        border: 1px solid #ff8b00 !important;
        .pic-dark{
          display: none;
        }
      }
      ul li {
        float: left;
        margin: 17px 0 0 10px;
        border: 1px solid #fff;
        position: relative;
        text-align: center;
        .small-one {
          width: 109px;
          height: 68px;
          overflow: hidden;
        }

        .pic-dark {
          position: absolute;
          background: url("../img/source/bigbg.png") repeat;
          top: 0px;
          left: 0px;
          width: 109px;
          height: 68px;
        }
      }
    }
    .house-pic-big {
      position:relative;
      width: 700px;
      height: 402px;
      overflow: hidden;
      border-left: #e3e3e3 1px solid;
      border-top: #e3e3e3 1px solid;
      .house-pic-img{
        display: table-cell; vertical-align: middle;  width: 700px;height:400px;   position:absolute;
        li{
          float: left;
          width: 700px;
          position:absolute;
          left:-800px;
          text-align:center;
          img {
            max-width: 700px;
            height: 402px;
          }
        }
      }
      .left,.right{
        background: #333;
        width: 80px;
        height: 80px;
        opacity: 0.8;
        text-align: center;
        position: absolute;
        top: 160px;
        line-height: 110px;
        cursor: pointer;
        display: none;
        img{
          width: 24px;
          height: 43px;
        }
      }
      .left{
        left: 0;
      }
      .right{
        right: 0;
      }
    }

  }

  .house-ec-man {
    width: 345px;
    height: 402px;
    float: left;
    border: #e3e3e3 1px solid;
    color: #0e050a;
    background: #f9f9f9;
    form{
      input{
        display: inline-block;
        border: 0px none;
        vertical-align: top;
      }
      li {
        list-style: none;
        width: 327px;
        height: 40px;
        float: left;
        margin-left: 20px;
        margin-bottom: 15px;
        line-height: 40px;
        font-size: 14px;
        .foryuyue {
          width: 302px;
          height: 40px;
          background: #ff5959;
          font-size: 14px;
          color: white;
          text-align: center;
          line-height: 40px;
          float: left;
        }
        .house-ec-man-input1 {
          width: 290px;
          height: 36px;
          border: 1px solid #cccccc;
          line-height: 36px;
          padding-left: 10px;
        }
        .house-ec-man-input2 {
          width: 130px;
          height: 36px;
          border: 1px solid #CCCCCC;
          line-height: 36px;
          padding-left: 10px;
          float: left;
        }
        .house-ec-getcode {
          width: 150px;
          float: left;
          margin-left: 10px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: white;
          font-size: 14px;
          background: #2ea1a9;
        }
      }
      .wrong-info {
        line-height: 16px;
        height: 16px;
        color: #ff5959;
      }
      .gift {
        height: 27px;
        margin: -19px 0px 4px 20px;
        line-height: 16px;
        color: #ff5959;
        font-weight: bold;
      }
      .housetip {
        font-size: 12px;
        width: 294px;
        float: left;
        color: #5c5c5c;
        margin-left: 20px;
        margin-top: 5px;
        line-height: 20px;
      }
    }
    .detail-jjr-title {
      width: 310px;
      margin-left: 24px;
      font-size: 14px;
      font-weight: bold;
      line-height: 50px;
      float: left;
    }
    .detail-jjr-tx {
      width: 120px;
      height: 164px;
      border: 1px solid #b6b6b6;
      margin-left: 24px;
      overflow: hidden;
      float: left;
    }
    .detail-jjr-info {
      width: 180px;
      margin-left: 15px;
      float: left;
      line-height: 30px;
      font-size: 14px;
      color: #000000;
    }
    .detail-jjr-info {
      width: 180px;
      margin-left: 15px;
      float: left;
      line-height: 30px;
      font-size: 14px;
      color: #000000;
    }
    .detail-jjr-info {
      width: 180px;
      margin-left: 15px;
      float: left;
      line-height: 30px;
      font-size: 14px;
      color: #000000;
    }
    .detail-jjr-mobile {
      width: 300px;
      height: 40px;
      margin-left: 24px;
      background: #ff5a5f url("../img/source/phone2.png") no-repeat;
      background-position: 58px 10px;
      float: left;
      margin-top: 25px;
      color: white;
      font-size: 20px;
      text-align: center;
      line-height: 40px;
    }
  }
  .clear{
    clear:both;
  }
  .p_content_line {
    width: 700px;
    border-top: 1px solid #e8e8e8;
  }
  .p_content{
    .p_content_left {
      width: 1000px;
      float: left;
      .house-basic-info {
        width: 700px;
        color: #333333;
        padding: 16px 0;
        border-top:1px solid #ccc;
        .basic-title {
          color: #0e050a;
          position: relative;
          display: inline-block;
          width: 100%;
          font-weight: bold;
          font-size: 16px;
          a {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            border-bottom: 2px solid #2ea1a9;
            margin-left: 20px;
            font-size: 16px;
            color: #2ea1a9;
            left: 200px;
            top: 1px;
            cursor:pointer;
          }
          .moreinfo {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            border-bottom: 2px solid #2ea1a9;
            margin-left: 20px;
            font-size: 14px !important;
            color: #2ea1a9;
            position: absolute;
            left: 80px !important;
            top: 1px;
          }
        }
        .fs21 {
          font-size: 21px;
        }
        .basic-other-info {
          padding-top: 0px;
          .basic-info-list {
            width: 90%;
            padding-left: 20px;
            li {
              width: 45%;
              float: left;
              height: 40px;
              line-height: 40px;
              font-size: 14px;
              .red{
                color:#ff8b00;
              }
              .size{
                font-size: 25px;
              }
            }
          }
          .yy-kf{
            min-width: 130px;
            height: 45px;
            text-align: center;
            color: #fff;
            background: #19baff;
            font-size: 20px;
            position: relative;
            bottom: 0;
            right: -224px;
            display: inline-block;
            line-height: 45px;
            letter-spacing: 4px;
            text-indent: 4px;
            cursor: pointer;
          }
          .add{
            background:#b0b0b0;
          }
          p{
            word-wrap: break-word;
            line-height: 30px;
          }
          .village-info-list {
            width: 100%;
            color: #000;
            li {
              width: 350px;
              float: left;
              height: 40px;
              line-height: 40px;
              font-size: 14px;
              font {
                color: #666666;
              }
              .gj {
                color: #ff5959;
              }
            }
          }
        }
        .ptp10 {
          padding-top: 10px;
        }
      }
      .clear {
        clear: both;
      }
      .mtp10 {
        margin-top: 10px;
      }
      .p_basic_line {
        width: 700px;
        border-top: 1px solid #e8e8e8;
      }
    }
  }
  .house-around {
    padding-top: 20px;
    .house-around-title {
      font-size: 14px;
      color: #000;
      font-weight: bold;
      .zixun{
        font-size: 16px;
      }
    }
    .disnone {
      display: none;
    }
    .zixunbox{
      .dt-box {
        .bd-dt{
          width: 700px;
          height: 450px;
          margin-top: 30px;
        }
        .bd-list {
          clear: both;
          .house-around-result {
            width: 697px;
            border-right: 1px solid #d9d9d9;
            color: #333333;
            float: left;
            margin-bottom: 100px;
            tbody{
              border-left: 1px solid #d9d9d9;
            }
            .td-right{
              text-align:right;
              padding-right: 20px;

            }
            .td-left{
              text-align: left;
              padding-left: 20px;
            }
            tr{
              border-bottom: 1px solid #d9d9d9;
            }
            td {
              width: 498px;
              height: 40px;
              line-height: 40px;
              overflow: hidden;
              font-size: 16px;
              .red{
                color:#ccc;
              }
            }
          }
          .house-around-r-h {
            background: #f7f7f7;
            text-align: center;
            padding-left: 0;
          }
        }
        .bd-btns {
          margin-top:30px;
          .box {
            float: left;
            width: 173px;
            height: 40px;
            border: 1px solid #d9d9d9;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
          }
          .bd-btn-box0{
            border-right:none;
          }
          .bd-btn-box1{
            border-right:none;
          }
          .bd-btn-box3{
            border-right: 1px solid #d9d9d9;
            border-left:none;
          }
          .xz{
            border-top:1px solid #19baff;
            border-bottom:none;
          }
        }
      }
    }
    .jiejingbox{
      .house-around-map {
        margin: 20px auto 0 auto;
        width: 998px;
        height: 434px;
        border: 1px solid #d9d9d9;
        overflow: hidden;
        float: left;
        .map {
          width: 998px;
          height: 434px;
          float: left;
        }
      }
    }
  }
  .same-house {
    width: 1000px;
    float: left;
    padding-bottom: 20px;
    height: 270px;
    .basic-title {
      color: #0e050a;
      position: relative;
      display: inline-block;
      width: 100%;
      font-weight: bold;
      font-size: 16px;
    }
    .lun-wrapper {
      width: 1000px;
      height: 220px;
      .lun-carousel {
        width: 1000px;
        position: relative;
        .clearfix {
          float: none;
          clear: both;
        }
        ul {
          list-style: none;
          display: block;
          margin: 0;
          padding: 0;
          li{
            position:absolute;
            left:-1002px;
            div{
              width: 238px;
              height: 213px;
              float: left;
              margin-right: 10px;
              line-height: 25px;
              font-size: 12px;
              margin-top: 20px;
              color: #333333;
              text-align: center;
              a {
                color: #333333;
                .same-house-img {
                  height: 180px;
                  overflow: hidden;
                  img{
                    float: left;
                    width: 100%;
                  }
                }
              }
            }
          }

        }
        .clearfix {
          float: none;
          clear: both;
        }
        .prev {
          background-position: 0 0;
          left: -40px;
        }
        .prev, .next {
          background: transparent url(../img/source/conle.png) no-repeat 0 0;
          text-indent: -999px;
          display: block;
          overflow: hidden;
          width: 20px;
          height: 32px;
          margin-left: 10px;
          position: absolute;
          top: 98px;
        }
        .next {
          background-position: -18px 0;
          right: -20px;
        }
        .pager {
          text-align: center;
          margin: 0 auto;
          display: none !important;
          .selected {
            background: transparent url(../img/source/carousel_control.png) no-repeat -12px -32px;
            text-decoration: underline;
          }
          a {
            background: transparent url(../img/source/carousel_control.png) no-repeat -2px -32px;
            text-decoration: none;
            text-indent: -999px;
            display: inline-block;
            overflow: hidden;
            width: 8px;
            height: 8px;
            margin: 0 5px 0 0;
          }
        }
      }
    }
  }
  .gotop {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 400px;
    right: 50%;
    margin-right: -600px;
    display: none;
  }
  .p-tq{
    width: 280px;
    border:1px solid #ccc;
    float:left;
    height:  auto;
    margin-top:76px;
    background: #f2f2f2;
    padding-bottom: 20px;
    font-size: 14px;
    h2{
      font-size:16px;
    }
    h2,.tq-img{
      margin-left:21px;
      margin-top:20px;
    }
    .tq-img{
      img{
        width: 237px;
        height: 185px;
      }
      h3{
        font-size: 16px;
      }
      .lab-head{
        color:#999;
      }
      .lab{

        .red{
          color:#ff5959;
        }
        .size{
          font-size:24px;
        }
      }
    }
  }

}
.d-mask{
  background:#333;
  z-index: 800;
  width: 100%;
  height: 100%;
  opacity:0.6;
  display: none;
  filter:alpha(opacity=60);
  position:absolute;
  top:0;
  left:0;
}
.mask-load{
  background:url(../img/source/detail/loading.gif) no-repeat;
  width: 180px;
  height: 180px;
  background-size: 50%;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  span{
    position: relative;
    left: 147px;
    color: #fff;
    width: 200px;
    font-size: 18px;
    background: #1a1a1a;
    width: 200px;
    height: 100px;
    display: inline-block;
    line-height: 100px;
  }
}

.clear{
  clear:both;
}
.yybox .content{width:550px;height:300px;background:url(../img/source/detail/dtbg.png) no-repeat;padding: 0;padding-top: 100px;}
.yuyuesbp{margin-top: 40px;font-size: 18px;}
.yybox .dialog-ok{width: 120px;}






